// UI Color Scheme

$color__black: #000 !default;
$color__white: #fff !default;
$color__light-blue: #add8e6 !default;

:export {
    black: $color__black;
    white: $color__white;
    lightBlue: $color__light-blue;
  }