// @styles
@import '../../globals/scss/css--reset';
@import '../../globals/scss/colors';

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.circular-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.address-display {
  height: 100vh;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  grid-gap: 1%;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: $color__white;
}