// @styles
@import '../../globals/scss/css--reset';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.circular-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.address-display {
  height: 100vh;
  padding: $spacing-md;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  grid-gap: $spacing-md;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  background-color: $color__light-blue;
}

.link {
  text-decoration: none;
}

.disable-link {
  pointer-events: none;
}