// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.header {
    display: flex;
    padding: $spacing-md;
    border-bottom: 1px solid $color__mid-gray;
}

.header__logo {
    background-image: url(../../images/shipwell-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-grow: 1;
    height: rem(60px);
    margin: 0;
    padding: 0;
}
